<!doctype html>

<html lang="en">
<head>
  <title>CareForYou</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/d534028b14.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>
	
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="/">CareForYou</a>
	  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<% if(!currentUser){ %>
		  <li class="nav-item">
			<a class="nav-link navbar-right" href="/login">Login<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/register">Sign Up</a>
		  </li>
			<% } else { %>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Log Out</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Welcome <%= currentUser.username %></a>
		  </li>	
		  <li class="nav-item">
			<% } %>
			<a class="nav-link" href="#">About Us</a>
		  </li>	
		</ul>
	  </div>
	</div>
</nav>
<br><br><br>
	

