<%- include("partials/header") %>

<div class="container">
	<h1 class="display-4">
		Appointments
	</h1>
	<div class="row card justify-content-between appoint" style="width: 65%">
		<div class="card-header">
			<div class="text-muted">
				Upcoming Appointment on 24/06/2020
			</div>
		</div>
		<div class="card-body row">
					<div class="card-body">
					<img class="rounded-float-left" style="border-radius: 60px; border: 1px solid grey" src="https://imagesx.practo.com/providers/50048ef5-					448b-471c-b0db-92fb99718727.jpg?i_type=t_100x100">
					<h4 class="card-title">Doctor Name</h4>
					<div class="card-text text-muted">
						<p>5:00 PM</p>
						<p>Friday</p>
					</div>
					<a class="btn btn-outline-primary" href="/prescriptions">Contact Clinic</a>
					<a class="btn btn-outline-danger" href="/medhistory">Request Change</a>
				</div>	
			</div>
	</div>
	<div class="row card justify-content-between appoint" style="width: 65%">
		<div class="card-header">
			<div class="text-muted">
				Upcoming Appointment on 21/06/2020
			</div>
		</div>
		<div class="card-body row">
					<div class="card-body">
					<img class="rounded-float-left" style="border-radius: 60px; border: 1px solid grey" src="https://imagesx.practo.com/providers/50048ef5-					448b-471c-b0db-92fb99718727.jpg?i_type=t_100x100">
					<h4 class="card-title">Doctor Name</h4>
					<div class="card-text text-muted">
						<p>10:00 AM</p>
						<p>Tuesday</p>
					</div>
					<a class="btn btn-outline-primary" href="/prescriptions">Contact Clinic</a>
					<a class="btn btn-outline-danger" href="/medhistory">Request Change</a>
				</div>	
			</div>
	</div>
	<div class="row card justify-content-between apoint" style="width: 65%">
		<div class="card-header">
			<div class="text-muted">
				Upcoming Appointment on 22/06/2020
			</div>
		</div>
		<div class="card-body row">
					<div class="card-body">
					<img class="rounded-float-left" style="border-radius: 60px; border: 1px solid grey" src="https://imagesx.practo.com/providers/50048ef5-					448b-471c-b0db-92fb99718727.jpg?i_type=t_100x100">
					<h4 class="card-title">Doctor Name</h4>
					<div class="card-text text-muted">
						<p>3:00 PM</p>
						<p>Wednesday</p>
					</div>
					<a class="btn btn-outline-primary" href="">Contact Clinic</a>
					<a class="btn btn-outline-danger" href="">Request Change</a>
				</div>	
			</div>
</div>
</div>

<%- include("partials/footer") %>