<%- include("partials/header") %>


<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4" style="color:#0275d8;">Welcome!</h1>
	  <p class="lead">Consult top online doctors for any health concern or schedule an appointment on <span style="color:#0275d8;">CareForYou</span></p>
	  <hr class="my-4">
	  <p>Don't let the lockdown delay your health concerns. Consult a doctor or book an appointment now!</p>
	  <a class="btn btn-outline-primary btn-lg" href="/doctors" role="button">Start Consulting</a>
	</div>
	<br>
	<br>
</div>
<div class="container-fluid bg-primary">
	<div class="container container-cfy">
		<h1 class="display-4 cfyheader">What Can CareForYou Do?</h1>
		<div class="row justify-content-between">
		   <div class="card infocard" style="width: 18rem;">
			 <img class="img-fluid" src="https://images.unsplash.com/photo-1546659934-038aab8f3f3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=817&q=80" class="card-img-top" alt="...">
		     <div class="card-body">
			    <h5 class="card-title">Consult A Doctor</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/doctors" class="btn btn-primary">View Doctors</a>
			  </div>
			</div>
			<div class="card infocard" style="width: 18rem;">
			 <img src="https://m.economictimes.com/thumb/msid-74450001,width-1200,height-900,resizemode-4,imgsize-428013/2.jpg" class="card-img-top" alt="...">
		     <div class="card-body">
			    <h5 class="card-title">View Prescriptions</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/prescriptions" class="btn btn-primary">View Prescriptions</a>
			  </div>
			</div>
			<div class="card infocard" style="width: 18rem;">
			 <img src="https://image.flaticon.com/icons/svg/32/32223.svg" class="card-img-top" alt="..." style="padding: 35px;">
		     <div class="card-body">
			    <h5 class="card-title">Medication History</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/medhistory" class="btn btn-primary">View Medication History</a>
			  </div>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="card infocard" style="width: 18rem;">
			 <img src="https://www.kindpng.com/picc/m/34-349108_seo-consulting-png-icons-for-consultancy-transparent-png.png" style="padding: 35px;" class="card-img-top" alt="...">
		     <div class="card-body bottom-card">
			    <h5 class="card-title">Consultation History</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/consultations" class="btn btn-primary">View Consultation History</a>
			  </div>
			</div>
			<div class="card infocard" style="width: 18rem;">
			 <img src="https://cdn1.iconfinder.com/data/icons/rounded-set-1/512/Appointment-512.png" class="card-img-top" alt="..." style="padding: 35px;">
		     <div class="card-body bottom-card">
			    <h5 class="card-title">Appointments</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/appointments" class="btn btn-primary">View Appointments</a>
			  </div>
			</div>
			<div class="card infocard" style="width: 18rem;">
			 <img src="https://www.kindpng.com/picc/m/34-349108_seo-consulting-png-icons-for-consultancy-transparent-png.png" style="padding: 35px;" class="card-img-top" alt="...">
		     <div class="card-body bottom-card">
			    <h5 class="card-title">Consultation History</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="/consultations" class="btn btn-primary">View Consultation History</a>
			  </div>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>