<%- include("partials/header") %>

<div class="container justify-content-center">
	<h1 class="display-4">
		Medicine History
	</h1>
	<div class="card justify-content-center med" style="width:70%;">
		<div class="card-header">
			<h3>
				Amitriptyline
			</h3>
			<p class="card-text text-muted">
				Blood Pressure, Diabetes, Headache, Chest Pain
			</p>
			<div class="row container justify-content-around">
				<div class="card-text">
					<h5>
						Amount
					</h5>
					<p>
						<button class="btn btn-primary">05</button>
						<button class="btn btn-outline-primary" disabled>10</button>
					</p>
					<p>
						<button class="btn btn-outline-primary" disabled>20</button>
						<button class="btn btn-outline-primary" disabled>30</button>
					</p>
				</div>
				<div class="card-text">
					<h5>
						Dosage
					</h5>
					<p>
						<button class="btn btn-outline-primary" disabled>BL</button>
						<button class="btn btn-outline-primary" disabled>AL</button>
						<button class="btn btn-primary">AN</button>
					</p>
					<p>
						<button class="btn btn-outline-primary" disabled>BD</button>
						<button class="btn btn-outline-primary" disabled>AD</button>
						<button class="btn btn-outline-primary" disabled>NI</button>
					</p>
				</div>
			</div>
			<hr>
			<h3>
				Acetaminophen
			</h3>
			<p class="card-text text-muted">
				Pain Releaver
			</p>
			<div class="row container justify-content-around">
				<div class="card-text">
					<h5>
						Amount
					</h5>
					<p>
						<button class="btn btn-primary">05</button>
						<button class="btn btn-outline-primary" disabled>10</button>
					</p>
					<p>
						<button class="btn btn-outline-primary" disabled>20</button>
						<button class="btn btn-outline-primary" disabled>30</button>
					</p>
				</div>
				<div class="card-text">
					<h5>
						Dosage
					</h5>
					<p>
						<button class="btn btn-outline-primary" disabled>BL</button>
						<button class="btn btn-outline-primary" disabled>AL</button>
						<button class="btn btn-primary">AN</button>
					</p>
					<p>
						<button class="btn btn-outline-primary" disabled>BD</button>
						<button class="btn btn-outline-primary" disabled>AD</button>
						<button class="btn btn-outline-primary" disabled>NI</button>
					</p>
				</div>
			</div>
			<hr>
			<h3>
				Citaloprem
			</h3>
			<p class="card-text text-muted">
				For Allergy
			</p>
			<div class="row container justify-content-around">
				<div class="card-text">
					<h5>
						Amount
					</h5>
					<p>
						<button class="btn btn-primary">05</button>
						<button class="btn btn-outline-primary" disabled>10</button>
					</p>
					<p>
						<button class="btn btn-outline-primary" disabled>20</button>
						<button class="btn btn-outline-primary" disabled>30</button>
					</p>
				</div>
				<div class="card-text">
					<h5>
						Dosage
					</h5>
					<p>
						<button class="btn btn-outline-primary" disabled>BL</button>
						<button class="btn btn-outline-primary" disabled>AL</button>
						<button class="btn btn-primary">AN</button>
					</p>
					<p>
						<button class="btn btn-outline-primary" disabled>BD</button>
						<button class="btn btn-outline-primary" disabled>AD</button>
						<button class="btn btn-outline-primary" disabled>NI</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include("partials/footer") %>