<%- include("partials/header") %>
<div class="container">
	<h1 class="display-4">
	Prescriptions
	</h1>
	<div class="row justify-content-between pres">
		<div class="card" style="width: 30%;">
			<div class="card-header">
				<div class="text-muted">15/06/2020</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">Prescription</h4>
				<p class="card-text">Name: Jugal Lad</p>
				<p class="card-text">Age: 19</p>
				<p class="card-text">Gender: Male</p>
				<p class="card-text">Patient ID: PT123</p>
				<hr>
				<h4 class="card-title">Diagnosed With</h4>
				<p class="card-text">Mild cold and fever</p>
				<hr>
				<h4 class="card-title">Blood Vitals</h4>
				<p class="card-text">Blood Pressure: 120/80</p>
				<p class="card-text">Weight: 55 Kg</p>
				<p class="card-text">Temperature: 99 F</p>
				<p class="card-text">Pulse Rate: 82</p>
				<hr>
				<h4 class="card-title">Medicines</h4>
				<p class="card-text">Azithromycin 25mg (Once a Day)</p>
				<p class="card-text">Paracetamol 20mg</p>
			</div>
		</div>
		<div class="card" style="width: 30%;">
			<div class="card-header">
				<div class="text-muted">23/05/2020</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">Prescription</h4>
				<p class="card-text">Name: Jugal Lad</p>
				<p class="card-text">Age: 19</p>
				<p class="card-text">Gender: Male</p>
				<p class="card-text">Patient ID: PT123</p>
				<hr>
				<h4 class="card-title">Diagnosed With</h4>
				<p class="card-text">Mild cold and fever</p>
				<hr>
				<h4 class="card-title">Blood Vitals</h4>
				<p class="card-text">Blood Pressure: 120/80</p>
				<p class="card-text">Weight: 55 Kg</p>
				<p class="card-text">Temperature: 99 F</p>
				<p class="card-text">Pulse Rate: 82</p>
				<hr>
				<h4 class="card-title">Medicines</h4>
				<p class="card-text">Azithromycin 25mg (Once a Day)</p>
				<p class="card-text">Paracetamol 20mg</p>
			</div>
		</div>
		<div class="card" style="width: 30%;">
			<div class="card-header">
				<div class="text-muted">27/04/2020</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">Prescription</h4>
				<p class="card-text">Name: Jugal Lad</p>
				<p class="card-text">Age: 19</p>
				<p class="card-text">Gender: Male</p>
				<p class="card-text">Patient ID: PT123</p>
				<hr>
				<h4 class="card-title">Diagnosed With</h4>
				<p class="card-text">Mild cold and fever</p>
				<hr>
				<h4 class="card-title">Blood Vitals</h4>
				<p class="card-text">Blood Pressure: 120/80</p>
				<p class="card-text">Weight: 55 Kg</p>
				<p class="card-text">Temperature: 99 F</p>
				<p class="card-text">Pulse Rate: 82</p>
				<hr>
				<h4 class="card-title">Medicines</h4>
				<p class="card-text">Azithromycin 25mg (Once a Day)</p>
				<p class="card-text">Paracetamol 20mg</p>
			</div>
		</div>
	</div>
</div>
<%- include("partials/footer") %>

